.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animation {
  0% {
    background-color: #f7b5cc;
  }
  20.0% {
    background-color: #b6b9ed;
  }
  40.0% {
    background-color: #95e1f7;
  }
  60.0% {
    background-color: #f6c4a3;
  }
  80.0% {
    background-color: #baebd5;
  }
  100.0% {
    background-color: #f7b5cc;
  }
}

@keyframes animation {
  0% {
    background-color: #f7b5cc;
  }
  20.0% {
    background-color: #b6b9ed;
  }
  40.0% {
    background-color: #95e1f7;
  }
  60.0% {
    background-color: #f6c4a3;
  }
  80.0% {
    background-color: #baebd5;
  }
  100.0% {
    background-color: #f7b5cc;
  }
}

.background {
  height: 100px;
  -webkit-animation-name: animation;
  -webkit-animation-duration: 13s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;

  animation-name: animation;
  animation-duration: 13s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  background-color: #f00;
}

.column {
  float: left;
  width: 33%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  justify-content: space-evenly;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 250px;
  font-size: 40px;
  position: relative;
  color: #fff;
  line-height: 70px;
  background: #000;
  justify-content: center;
}

input[type="button"] {
  border: none !important;
  outline: none !important;
}
